:root {
    --clr-white: white;
    --clr-light-gray: #e2e8f0;
    --clr-medium-gray: #ccd1d8;
    --clr-dark-gray: #636363;
    --clr-black: black;

    --clr-primary: #1992d4;
    --clr-accent: #f0b429;

    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.5rem;
    --fs-800: 2rem;
    --fs-900: 3rem;
}