$white: white;
$light-gray: #e2e8f0;
$medium-gray: #ccd1d8;
$black: black;

$blue: #1992d4;
$orange: #f0b429;

main {
    background-color: $light-gray;
}

.primary-header {
    color: $white;
    background-color: $blue;
}

.secondary-header,
.card {
    background-color: $white;
}

.project {
    &::before {
        background-color: $orange;
    }
}