@use "./abstracts" as *;

main {
    background-color: var(--clr-light-gray);
}

.primary-header {
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.secondary-header,
.card {
    background-color: var(--clr-white);
}

.project {
    &::before {
        background-color: var(--clr-accent);
    }
}