button {
    height: 2.5rem;
    width: 7rem;
    border: 0;
    border-radius: 20px;
    font-size: var(--fs-500);
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-primary);
}

.logo {
    max-width: 2rem;
}

.icon {
    &--small {
        width: 1.25rem;
        aspect-ratio: 1;
    }
}

.user__handle {
    &::before {
        content: '@';
    }

    &--brackets {
        &::before {
            content: ' (@';
        }

        &::after {
            content: ')';
        }
    }
}

#search-bar {
    margin-right: 15rem;
    padding: .25rem 1rem;
    border: 0;
    border-radius: 15px;
    flex: 1;
    background-color: var(--clr-light-gray);

    &:focus {
        outline: none;
    }
}