button {
    cursor: pointer;
    height: 2.5rem;
    width: 7rem;
    border: 0;
    border-radius: 20px;
    font-size: var(--fs-500);
    font-weight: 500;
    color: var(--clr-white);
    background-color: var(--clr-primary);

    &.icon {
        all: unset;
        cursor: pointer;
    }
}

.logo {
    max-width: 2.5rem;
}

.icon {
    width: 1.5rem;
    aspect-ratio: 1;

    &--hover:hover {
        filter: saturate(100%) brightness(0);
    }
}

.primary-header {
    &__nav-toggler {
        cursor: pointer;
        width: 2.5rem;
        aspect-ratio: 1;
    }
}

.secondary-header {
    box-shadow: 2px 2px 3px var(--clr-medium-gray);
    margin-bottom: 1rem;

    label {
        cursor: pointer;
    }

    &__search-bar {
        padding: .25rem 1rem;
        border: 0;
        border-radius: 15px;
        color: var(--clr-dark-gray);
        background-color: var(--clr-light-gray);

        &:focus {
            outline: none;
            border: 1px solid var(--clr-primary);
        }
    }
}

.card {
    box-shadow: 3px 3px 5px var(--clr-medium-gray);
}