body {
    margin: 0;
    min-height: 100vh;
}

body,
main,
.trending__container,
.projects,
.main__sidebar {
    display: grid;
}

.primary-header__heading,
.primary-nav__group {
    display: flex;
}

.primary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem clamp(1rem, 5vw, 3rem);

    &__heading {
        gap: .5rem;
        align-items: center;
    }
}

.primary-nav {
    &__list {
        padding-inline: .5rem;
        display: none;
        flex-direction: column;
    }

    &__group {
        flex-direction: inherit;
        align-items: center;
        gap: 1rem;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__icon {
        display: none;
        width: 1.5rem;
        aspect-ratio: 1;
    }
}

.secondary-header {
    padding: 1rem clamp(1rem, 5vw, 3rem);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2rem;

    &__search {
        display: flex;
        gap: .25rem;

        label {
            padding-top: .1rem;
            display: flex;
            align-items: center;
        }
    }

    &__search-bar {
        margin-right: clamp(1rem, 5vw, 3rem);
        flex: 1;
    }

    &__controls {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 1rem;

        .user {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .user__name {
            display: none;
        }
    }

    &__greeting {
        margin-right: auto;
        grid-column: span 2;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: end;
        gap: 0 1rem;

        > .avatar {
            grid-row: span 2;
        }

        span:last-child {
            align-self: start;
        }
    }

    &__buttons {
        grid-column: span 2;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
}

.avatar {
    width: 2.5rem;
    aspect-ratio: 1;

    &--large {
        width: 4rem;
    }
}

main,
.main__sidebar,
.projects {
    gap: 1rem;
}

main {
    padding: 2rem 1rem;
}

.main {
    &__heading {
        margin-bottom: -.5rem;
        padding-inline: .75rem;
    }

    &__sidebar {
        align-content: start;
    }
}

.card {
    margin: .5rem;
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    p {
        margin-top: .25rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.projects {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: 16rem;
    align-content: start;

    > .main__heading {
        grid-column: 1 / -1;
    }
}

.project {
    position: relative;

    p {
        -webkit-line-clamp: 6;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 10px;
        border-radius: 15px 0 0 15px;
    }

    &__buttons {
        flex: 1;
        padding-top: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
    }
}

.announcement {
    p {
        -webkit-line-clamp: 3;
    }

    + .announcement {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid var(--clr-medium-gray);
    }
}

.trends {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.trend {
    cursor: pointer;
    display: grid;
    gap: 0 1rem;
    grid-template-columns: auto 1fr;

    .avatar {
        grid-row: span 2;
    }
}

@media (min-width: 600px) {
    .secondary-header {
        &__controls .user__name {
            display: initial;
        }

        &__buttons {
            justify-content: flex-end;
        }
    }
}

@media (min-width: 800px) {
    main {
        grid-template-columns: 1fr clamp(250px, 20vw, 300px);
    }

    .secondary-header {
        &__search-bar {
            margin-right: 0;
        }

        &__greeting,
        &__buttons {
            grid-column: span 1;
        }
    }
}

@media (min-width: 1000px) {
    body {
        grid-template-columns: clamp(250px, 20vw, 300px) 1fr;
    }

    .primary-header {
        padding: 1rem;
        grid-row: span 2;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;

        &__nav-toggler {
            display: none;
        }
    }

    .primary-nav {
        &__list {
            display: flex;
            gap: 3rem;
        }

        &__group {
            align-items: flex-start;
        }

        &__icon {
            display: initial;
        }
    }
}